/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: none;
}
a:focus{
    border: none;
    outline: none;
}
input:focus, button:focus{
    outline: none;
    border: none;
}
input, textarea{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}
/*end Reset*/
html{
    height: 100%;
}
body{
    width: 100%;
    min-height: 100%;
    background: url("../img/main-bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #0d9f9e;
    font-family: 'pt_sansregular', sans-serif;
    color: #ffffff;
    -webkit-text-size-adjust: none;
}
sup {
    vertical-align: super;
}
.wrapper{
    display: inline-block;
    width: 100%;
    position: relative;
}
.head-logo{
    display: block;
    position: absolute;
    left: 12px;
    top: 4px;
    width: 56px;
    height: 53px;
    background: url(../img/logo.png) no-repeat 0 9px;
}
.wrapper .header{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 58px;
    background: #03646f;
}
.wrapper .header .head-content{
    position: relative;
    max-width: 950px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
.head-content::after {
    content: '';
    background: url(../img/18+-icon.png) no-repeat;
    display: block;
    width: 34px;
    height: 34px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}
.header .head-nav{
    text-align: center;
    height: 40px;
}
.header .head-nav-elem{
    display: inline-block;
    height: 40px;
    width: auto;
    padding: 0 50px;
}
.header .head-nav-link{
    color: #ffffff;
    font-size: 18px;
    line-height: 58px;
    display: block;
    position: relative;
}
.header .head-nav-link.active:before{
    position: absolute;
    content: '';
    background: #fe0070;
    width: 100%;
    height: 9px;
    left: 0;
    bottom: 0;
}
.content{
    width: 955px;
    position: relative;
    margin: 610px auto 0;
    text-align: center;
}
.top-action-rules-block {
    background: url(../img/wheels-bg.png) no-repeat;
    position: relative;
    height: 277px;
    box-sizing: border-box;
    padding: 175px 30px 0;
}
.actions-block {
    display: flex;
    justify-content: space-between;
}
.actions-item {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    font-family: 'MetaPlusLF', sans-serif;
    text-shadow: 1.7px 2.5px 3px rgba(6, 56, 67, 0.49);
}
.actions-item-2 {
    padding-left: 124px;
}
.actions-item-3 {
    padding-left: 63px;
}
.actions-item .large {
    font-size: 22px;
}
.actions-item .small {
    font-size: 13px;
}
.wheels-wrapper {
    width: 579px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    left: 30px;
}
.wheel-item {
    display: inline-block;
    position: relative;
}
.wheel-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.rotate-wheel {
    width: 127px;
    height: 132px;
    background: url(../img/wheel.png);
}
.rotate-wheel:hover {
    animation: rotate 2s infinite linear;
}
.prises-block {
    padding-top: 120px;
    padding-bottom: 150px;
}
.main-prise-title {
    background: url(../img/main-prise-border.png) no-repeat;
    text-transform: uppercase;
    font-size: 33px;
    font-weight: bold;
    font-family: 'MetaPlusLF', sans-serif;
    padding: 36px 137px;
    color: #bfeef1;
}
.main-prise-image {
    margin-top: 74px;
}
.other-prise-image {
    margin-top: 101px;
}
.second-prises-section {
    margin-top: 124px;
}
.second-prises-title {
    background: url(../img/second-prise-border.png) no-repeat;
    text-transform: uppercase;
    font-size: 33px;
    font-weight: bold;
    font-family: 'MetaPlusLF', sans-serif;
    padding: 36px 126px;
    color: #bfeef1;
}
.second-prises-inner-block {
    margin-top: 72px;
}
.second-prises-inner-block ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second-prise-item {
    display: inline-block;
    width: 24%;
}
.second-prise-item img {
    margin-bottom: 10px;
}
.second-prise-item img.big-margin {
    margin-bottom: 32px;
}
.prise-white-text {
    display: block;
    font-size: 24px;
    color: #ffffff;
    font-family: 'PF Din Text Comp Pro';
}
.prise-purple-text {
    display: block;
    font-size: 30px;
    color: #d15a91;
    font-family: 'PF Din Text Comp Pro';
    margin: 5px 0 10px;
}
.button-up {
    background: url(../img/arrow-up.png) no-repeat center;
    background-size: 100%;
    position: fixed;
    bottom: 20px;
    right: 5%;
    width: 73px;
    height: 73px;
    cursor: pointer;
    display: none;
}
.action-rules-block {
    padding: 70px 0 91px;
}
.rules-title {
    font-size: 33px;
    font-weight: bold;
    font-family: 'MetaPlusLF', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.infografika-main-block {
    position: relative;
}
.infografika-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 67px;
    position: relative;
}
.infografika-item.no-margin {
    margin-top: 0;
}
.infografika-item.arrow-to-right::after {
    content: '';
    background: url(../img/arrow-right.png) no-repeat;
    display: block;
    position: absolute;
    width: 416px;
    height: 206px;
    bottom: -136px;
    left: 271px;
}
.infografika-item.arrow-to-left::after {
    content: '';
    background: url(../img/arrow-left.png) no-repeat;
    display: block;
    position: absolute;
    width: 416px;
    height: 206px;
    bottom: -146px;
    right: 269px;
}
.number-wrapper {
    width: 127px;
    height: 132px;
    background: url(../img/wheel.png) no-repeat;
    position: relative;
}
.number-wrapper.left-shift {
    margin-left: 115px;
}
.number-wrapper.right-shift {
    margin-right: 115px;
}
.rool-number {
    font-family: 'MetaPlusLF', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #fe0070;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translate(-50%);
    z-index: 6;
}
.infografika-item-custom {
    width: 1028px;
}
.infografika-item-custom .step-detail-wrapper {
    position: relative;
    left: 100px;
    display: flex;
        align-items: center;
}
.step-detail-wrapper img {
    vertical-align: middle;
}
.rool-text {
    font-size: 26px;
    color: #ffffff;
    font-family: 'PF Din Text Comp Pro';
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.rool-text.right-text-align{
    text-align: right;
    margin-left: 0;
    margin-right: 10px;
}
.rool-text .yellow {
    color: #facf26;
}
.rool-text sup {
    font-size: 20px;
}
.animate-wheel {
    width: 127px;
    height: 132px;
    background: url(../img/wheel.png) no-repeat;
    position: absolute;
    top: 47px;
    left: 114px;
    z-index: 5;
}
.footer {
    padding: 57px 0 83px;
}
.footer-content {
    width: 885px;
    text-align: center;
    margin: auto;
}
.download-btn-link {
    position: relative;
    font-size: 30px;
    color: #003643;
    background: #7cd4e0;
    padding: 30px 55px 30px 120px;
    border-radius: 40px 40px;
    display: inline-block;
    margin-bottom: 63px;
    font-family: 'PF Din Text Comp Pro';
}
.download-btn-link:before {
    content: '';
    display: block;
    background: url(../img/pdf-icon.png) no-repeat center;
    background-size: 100%;
    width: 41px;
    height: 44px;
    position: absolute;
    top: 22px;
    left: 55px;
}
.footer-rooles {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 25px;
    text-align: justify;
    font-family: 'MetaPlusLF_regular', sans-serif;
}
.footer-detail-text {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 35px;
    text-align: left;
    font-family: 'MetaPlusLF_regular', sans-serif;
    max-width: 680px;
}
.footer-social {
    float: left;
}
.footer-social .footer-fb {
    background: url(../img/fb.png) no-repeat center;
    background-size: 100%;
    width: 32px;
    height: 33px;
    display: inline-block;
}
.footer-social .footer-insta {
    background: url(../img/insta.png) no-repeat center;
    background-size: 100%;
    width: 32px;
    height: 33px;
    display: inline-block;
    margin-left: 8px;
}
.footer-social .footer-vk {
    background: url(../img/vk.png) no-repeat center;
    background-size: 100%;
    width: 32px;
    height: 33px;
    display: inline-block;
    margin-left: 8px;
}
.footer-social .footer-ok {
    background: url(../img/ok.png) no-repeat center;
    background-size: 100%;
    width: 32px;
    height: 33px;
    display: inline-block;
    margin-left: 8px;
}
.footer-address {
    color: #ffffff;
    font-size: 18px;
    position: relative;
    float: right;
    width: 172px;
    padding-top: 20px;
    font-family: 'PF Din Text Comp Pro';
}
.footer-address .footer-logo {
    content: '';
    background: url(../img/footer-logo.png) no-repeat center;
    background-size: contain;
    width: 144px;
    height: 133px;
    display: block;
    position: absolute;
    top: -125px;
    right: 10px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}