@font-face {
    font-family: 'MetaPlusLF';
    src: url('MetaPlusLF-Bold.eot');
    src: url('MetaPlusLF-Bold.eot?#iefix') format('embedded-opentype'),
        url('MetaPlusLF-Bold.woff2') format('woff2'),
        url('MetaPlusLF-Bold.woff') format('woff'),
        url('MetaPlusLF-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('PFDinTextCompPro-Regular.eot');
    src: url('PFDinTextCompPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCompPro-Regular.woff2') format('woff2'),
        url('PFDinTextCompPro-Regular.woff') format('woff'),
        url('PFDinTextCompPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MetaPlusLF_regular';
    src: url('MetaPlusLF-Regular.eot');
    src: url('MetaPlusLF-Regular.eot?#iefix') format('embedded-opentype'),
        url('MetaPlusLF-Regular.woff2') format('woff2'),
        url('MetaPlusLF-Regular.woff') format('woff'),
        url('MetaPlusLF-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}